# local config file
config.scons

# scons and build results
.sconsign.dblite
*.o
build
bin

debug_crypto
check
library

# MacOS
.DS_Store

# XCode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata